/* <---Styling for Main Page---> */

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}
.container{
    max-width: 100%;
}

body,
html {
    
    
    background: #D9D9D9;
    font-family: 'Asap', sans-serif;
    
}
img,
picture {
    max-width: 100%;
    display: block;
}

.navarea a{
    color: white;
    
}

.navarea a, a::before{
    -o-transition: 0.27s;
    -ms-transition: 0.27s;
    -moz-transition: 0.27s;
    -webkit-transition: 0.27s;
    transition: 0.27s;
    
}

    .active, .nav-item:hover{
        color: blue;
    }

.top-navigation-left{
    display: none;
}

@media only screen and (min-width: 768px){
.top-navigation-left{
    display: flex;
    padding: 1em;
}
}

.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}



.top-navigation-links {
    display: flex;
    gap: 1em;
    margin-top: 10px;
    font-size: 13px;
    padding: 1em;
    
    
}

.top-navigation-links a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 3em;
    
}

.top-navigation-center{
    display: none;
}

@media only screen and (min-width: 768px){
    .form {
        display: flex;
        flex-direction: row;
       
      
    }
    .search-field {
        max-width: 350%;
        padding: 12px;
        border: 3px solid black;
        outline: none;
        margin-bottom: 5px;
       margin-top: 5px;
       
    }
    .search-button {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -20px;
        }
 
.top-navigation-center{
    display: flex;
}
}

.top-navigation-right{
    display: flex;
    padding: 1em;
    min-height: 30px;
}

.center-home img {
    max-width: 100%;
}
.home-text h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 32px;
    color: black;
    font-size: 32px;
}

.home-text p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
    word-wrap: normal;
    line-height: 24px;
    padding: 2em;
    }

.bottom-home img {
    max-width: 400px;
    float: right;
    border: 3px;
    border-radius: 10px;
    margin-left: 20px;
    top: -950px;
    padding: 3em;
    
    
}
.bottom-home button {
    border: none;
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    max-width: 300px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 50px;
    
}

a {
    text-decoration: none;
    color: black;
  }
  
 
    a:hover {
        color:#808080;
        transition: 0.5s;
      }

  
  .footer-copy {
   margin: 0 auto;
   max-width: 800px;
   text-align: center;
  }
  
  .footer-copyright {
    list-style: none;
    line-height: 50px;
    vertical-align: top;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
   
  }
  
  .footer-copyright li {
    position: relative;
    
  }
  
  .footer-copyright li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
  }
  
  .footer-copyright li:before {
    content: "";
    max-height: 20px;
    max-width: 1px;
    background-color: rgb(0 0 0 / 20%);
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
  }
  
  .footer-copyright li:last-child:before {
    content: unset;
  }

/* <---Styling for About Us---> */
.text-box h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 36px;
    max-width: 300px;
   
}

.wrapper {
    margin: 150px auto;
    max-width: 70%;
    margin-bottom: 40%;
    margin-top: 2px;
   
    
}

.text-box p{
font-size: 25px;
font-style: normal;
line-height: 48px;
word-wrap: break-word;
max-width: 300px;



}

.wrapper img {
    float: right;
    border: 10px;
    border-radius: 15px;
   margin-left: 250px;
   max-height: 828px;
   margin-bottom: 20%;
   

   
}


/* <---Styling for Registration---> */

.container-reg{
    background: white;
    
    
}

.title-sub{
    font-size: 16px;
    margin-left: 175px;
    top: -900px;
    margin-bottom: 20px;
}

input, textarea{
    outline: none;
    border: none;
}

.container-signup{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 300px;
}

.wrap-signup{
    background: #fff;
    border-radius: 2px;
    padding: 72px 50px 0px 50px;
}

.signup-form {
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10%;
}


.signup-form-title {
    display: block;
    max-width: 100%;
    font-size: 32px;
    font-weight: 900;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 50px;
    font-weight: bold;
    margin-left: 65px;
}

.wrap-input{
    min-width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 60px;
    top: 25px;
}

.label-input{
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}

.input{
    display: block;
    max-width: 100%;
    min-height: 50px;
    background: transparent;
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    padding: 0 2px;
}

.focus-input{
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0px;
    max-width: 0;
    max-height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: blue;
}

.input:focus+ .focus-input::before{
    max-width: 100%;
}
.signup-more{
    display: none;
}

@media only screen and (min-width: 768px){
    .signup-more{
        /*width: calc(100% - 520px);*/
       
        background-image: url(../Assets/RedMugIpadImage.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       
    }
    .signup-more{
        display: flex;
    }
}


 .container-terms{
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    margin-bottom: 12px;
 }

 .input-checkbox{
    display: none;
    }

.label-checkbox{
    margin: 0;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}
.label-checkbox::before{
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 50%;
    max-width: 16px;
    max-height: 16px;
    border-radius: 2px;
    background: #e6e6e6;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);

}

.input-checkbox:checked + .label-checkbox::before{
    color: blue;
}
.txt1, .txt2{
    font-size: 14px;
    color: #999;
    line-height: 1.4;
}
.txt2{
    color:blue;
}


    .hov1:hover{
        color: #666;
    }


.container-signup-form-btn{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    
}

.wrap-signup-form-btn{
    display: block;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.signup-form-btn{
    max-width: 245px;
    max-height: 50px;
    padding: 10px 30px;
    background: black;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    
}

.login-button-hov1{
margin-top: -60px;
}
button{
    outline: none !important;
    border: none;
    background: transparent;
}



    button:hover{
        cursor: pointer;
    }



    .a, a:hover{
        text-decoration: none;
    }


.login-button{
    font-size: 18px;
    color: #666;
    text-decoration: none;
}
.textarea:focus, input:focus{
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder{color: transparent;}
input:focus::-moz-placeholder{color: transparent;}
input:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder{color:transparent;}

input::-webkit-input-placeholder{color: #ccc;}

textarea::-webkit-input-placeholder{color:#ccc;}


/* <---Styling for My Account---> */
.container-account{
    background: #F5F5F5;
    max-width: 100%;
}



.account-text-1 h1{
    color: blue;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    line-height: 64px;
    margin-left: 152px;
    
}

.account-text-2{
    color: blue;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-left: 152px;
    margin-bottom: 30px;
}


.account-grid{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
}

@media screen and (max-width: 940px){
    .account-grid {
        display: flex;
        flex-direction: column;
    }
}

.card-content{
   
    text-align: center;
    justify-content: center;
    
}
.card-content-b h4{
    margin-top: -40px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 50px;

}
.card-content-b p{
    font-size: 32px;
    color: blue;
    margin-left: 50px;
    margin-bottom: 12px;
  
}

.card-content-a h4{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.card-content-a p{
    font-size: 32px;
    color: blue;
    margin-left:50px;
    margin-bottom: 12px;
    
}

.card-content-m h4{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.card-content-m p{
    font-size: 32px;
    color: blue;
    margin-left:50px ;
    margin-bottom: 12px;
}
.card-content-f h4{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.card-content-f p{
    font-size: 32px;
    color: blue;
    margin-left:50px ;
    margin-bottom: 12px;
}

.card-content-pc h4{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -40px;
    margin-bottom: 15px;
}

.card-content-pc p{
    font-size: 32px;
    color: blue;
    margin-left:50px ;
    margin-bottom: 12px;
}

.card-content-pr h4{
    font-size: 20px;
    margin-left: 50px;
    margin-top: -40px;
    margin-bottom: 30px;
}

.card-content-pr p{
    font-size: 18px;
    margin-left: 80px;
    margin-bottom: 12px;
   overflow-wrap: normal;
  margin-right: 20px;
   
}
.card{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 288px;
    
}

.card img{
    margin-left: 15px;
    margin-top: 20px;
}

/* <---Styling for Ebooks---> */
.container-ebooks{
    background: white;
   max-width: 100%;
}

.banner-card img{
    min-width: 100%
}
.banner-card{
    position: relative;
}
.banner-text{
    display: none;
}
@media only screen and (min-width: 768px){
    .banner-text{
        position: absolute;
        top: 60px;
        color: white;
        padding: 3px;
        text-align: justify;
        justify-content: center;
        font-weight: bold;
        word-wrap: break-word;
        max-width: 300px;
        left: 60px;
        display: flex;
        }
}


.banner-text p{
    font-size: 32px;
}

.icons{
    display: none;
}

@media only screen and (min-width: 900px){
    .icons{
        display: flex;
        margin: auto 0;
        justify-content: space-evenly;
        max-width: 100%;
        margin-bottom: 12px;
        background: #020202;
    }
} 


.icons-img{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 60px;
    max-width: 300px;
   
    
    
   
    
}
.icons-text{
   font-weight: bold;
   color:blue;
   margin-top: 12px;
   font-size: 25px;
   margin-left: 50px;
   margin-right: 20px;
   margin-bottom: 15px;
   word-wrap: break-word;
}

.wrapper-nav{
    display: none;
}
@media only screen and (min-width: 800px){
  
    .wrapper-nav{
        position: relative;
       margin: 0 auto;
        padding: 50px 0;
        clear: both;
        display: flex;
        
    }
}

.menu-area{
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 250px;
    
    
}
.menu-area li {
    position: relative;

}
.menu-area li a {
    text-align: center;
    min-height: 20px;
    position: relative;
    border-bottom: 1px solid black;
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: black;
}
.menu-area li a strong{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    
}


    .menu-area li:hover > a{
        color: blue;
    }



.menu-area li ul,
.menu-area li ul li ul{
    background: lightgray;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    z-index: 999;
    left: 280px;
    list-style: none;
    position: absolute;
    max-height: auto;
    max-width: 250px;
    padding: 0;
    margin: 0;
    top: 0;
}


    .menu-area li:hover > ul, .menu-area li ul li:hover > ul{
        display: block;
        opacity: 1;
        visibility: visible;
        left: 250px;
    }



.menu-area li ul li a{
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border: 2px;
    border-bottom: 1px solid black;
    max-height: auto;
}
.menu-area li ul li ul{
    left: 230px;
    border: 0;
  top: 0;
}

.wrapper-books{
display: block;
margin-left:36%;
margin-right:30%;
min-width: 50%;
margin-top: 30px;
margin-bottom: 10%;
padding-right: 20px;




}
.wrapper-books-img{
    margin-bottom: 20px;
    display: none;
}

@media only screen and (min-width: 768px){
    .wrapper-books-img{
        display: flex;
    }
}
.wrapper-books-text button{
    border: none;
    background-color: blue;
    color: white;
    max-width: 100px;
    padding: 1em;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    
}

.wrapper-books-text p{
    word-wrap: normal;
    max-width: 30vw;
    margin-bottom: 12px;
    font-size: 20px;
   
}
.wrapper-books-text{
  float: right;
 margin-top: 10px;

}
.page-numbers{
    display: none;
}
@media only screen and (min-width: 768px){
    .page-numbers{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
    
    }
}



.container-book{
    display: flex;
    gap: 45px;
    margin-left: 35%;
    
}
.icons-margin-b{
margin-left: 50px;
}

.icons-margin-a{
margin-left: 60px;
}
.icon-container-a{
 margin-right: 30px;
}
.icons-margin-m{
    margin-left: 60px;
}

.icons-margin-p{
    margin-left: 70px;
}

.icon-container-p{
    margin-right: 40px;
}

/* <---Styling for E-books Reviews---> */
.wrapper-review{
    margin-right: 50px;
}
.wrapper-reviews-book{
    display: block;
    margin-left: 50%;
    margin-right: 38%;
    min-width: 50%;
    margin-bottom: 750%;
    top: 200px;
    }
    
     .wrapper-reviews-book  button {
        border: none;
        color: white;
        max-width: 200px;
        padding: 1em;
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
        margin-top: 12px;
    
        
    }
    
    .wrapper-reviews-book h1{
    font-size: 48px;
    margin-bottom: 15px;
    color: blue;
    }
    .wrapper-reviews-book h2{
        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .wrapper-reviews-book .button-1 button{
        background: #036DE9;
        border: 1px solid #036DE9;
        margin-bottom: 5px;
        cursor: pointer;
        
    }
    
    .wrapper-reviews-book .button-2 button{
        background: #3A3838;
        border: 1px solid #000000;
        cursor: pointer;
       
    }
    .wrapper-reviews-text p{
        word-wrap: normal;
        width: 30vw;
        margin-bottom: 50px;
        font-size: 32px;
        margin-left: 20px;
        
       
    }
    .wrapper-reviews-text{
        width: 100%;
      border-bottom:1px solid black ;
    }
    
    .stars {
        color: #C2C609;
        margin-bottom: 20px;
        font-size: 2em;
        margin-top: 12px;
        margin-bottom: 30px;
        
    }
    
    .reviews-text p{
        word-wrap: normal;
        width: 30vw;
        font-size: 32px;
        
    }
    
    
    .reviews-text{
        display: block;
        max-width: 300px;
        margin: auto;
    }
    .stars-text{
        display: block;
        max-width: 300px;
        margin: auto;
        color: #C2C609;
        margin-bottom: 20px;
        font-size: 2em;
    }
    .container-reviews{
      float: right;
        margin-top: 50px;
        margin-right: 38px;
    }
    
    .ratings h3 {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
        color: blue;
        
    }
    
    .review-b{
     margin-top: -95px;
     margin-bottom: 70px;
     margin-left: 115px;
    }
    
    .review-img{
        margin-top: 15px;
    }
    .stars-text{
        margin-top: -25px;
    }
    
    .review-k{
        margin-top: -95px;
        margin-left: 115px;
        
    }
    
    
    .wrapper-reviews-book h2{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .wrapper-review h4{
        margin-bottom: 40px;
        font-size: 24px;
    }
    
    .container-ebooks-reviews{
        background: white;
    }
    
    .wrapper-books-text h3{
        font-size: 24px;
        margin-bottom: 10px;
        color: blue;
    }
    .wrapper-books-text h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .reviews-text p{
        font-size: 16px;
        word-wrap: break-word;
        min-width: 30wv;
    }